.container{
    width : 1000px;
    height: 800px;
    margin : 0 auto;
    color : #FEFEFE;
    position : relative;
    border: 1px solid #333;
    padding : 10px;
    overflow : auto;
    text-align : center;
}

.content{

}
